<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="game.css">
  <title>Light Up</title>
</head>
<body>
  <div id="navbar">
    <h1>Light Up</h1>
    <div class="login-box">
      <button id="btn-login">Login</button>
    </div>
  </div>

  <div id="main-content">
    <div class="structure">
      
      <div class="player span-2">
        <div class="playerslist-box">
          <div id="panel-heading">
            <div class="title">
              <i class="fas fa-user-ninja fa-2x"></i>
              <span>Players</span>
            </div>
    
            <div id="panel-body">
              <table style="width:100%">
                <tr>
                  <th>Avatar</th>
                  <th>Nickname</th>
                  <th>Points</th>
                </tr>
                
                <tr>
                  <td>
                    <img src="-" alt="avatar Quan"></td>
                  <td>
                    <h5>Quan</h5>
                  </td>
                  <td>
                    <h6>111 pt</h6>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <img src="-" alt="avatar Phuc"></td>
                  <td>
                    <h5>Phuc</h5>
                  </td>
                  <td>
                    <h6>111 pt</h6>
                  </td>
                </tr>
                
                <tr>  
                  <td>
                    <img src="-" alt="avatar Linh"></td>
                  <td>
                    <h5>Linh</h5>
                  </td>
                  <td>
                    <h6>111 pt</h6>
                  </td>
                </tr>
                
                <tr>  
                  <td>
                    <img src="-" alt="avatar Minh"></td>
                  <td>
                    <h5>Minh</h5>
                  </td>
                  <td>
                    <h6>111 pt</h6>
                  </td>
                </tr>
                
                <tr>  
                  <td>
                    <img src="-" alt="avatar Thang"></td>
                  <td>
                    <h5>Thang</h5>
                  </td>
                  <td>
                    <h6>111 pt</h6>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <div class="wordbox">
        <div id="jumbotron">
          <h5 class="draw text-center mt-3"><span>Draw example or word</span></h5>
          <p class="voorbeeld text-center"><span> - - - - - - - - </span></p>
        </div>
      </div>
      
      <div class="chatbox span-2">
        <!-- How chu doin -->
      </div>
      
      <div class="drawbox">
        <!-- What's up -->
      </div>
      
      <div class="rounds">
        <!-- Morning -->
      </div>
      
      <div class="toolbox">
        <!-- Afternoon -->
      </div>
      
      <div class="timer">
        <!-- Evening -->
      </div>
    
    </div>
  </div>

</body>
</html>