:root {
  --background: #3d5788;
  --heading: #f0f8ff;
  --text: #259ac5;
  --bg1: #a4cde7;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  background-color: var(--background); 
}

#navbar {
  max-width: auto;
  height: 50px;
  padding: 0 10px;
  border: 1px solid white;
  background-color: var(--bg1);
  position: sticky;
  display: flex;
  justify-content: space-between;
}

#navbar h1 {
  position: relative;
  color: var(--text);
  text-align: center;
}

#navbar .login-box #btn-login {
  color: white;
  padding: 6px 24px;
  border: 1px solid white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

#navbar .login-box:active {
  position: relative;
  top: 2px;
}

#navbar .login-box {
  width: 96px;
  height: 33px;
  padding-top: 7px;
}
#navbar .login-box #btn-login {
  background-color: #2b98c0;
}
#navbar .login-box #btn-login:hover {
  background-color: linear-gradient(to bottom, #259ac5 5%, #092e3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#259ac5 ", endColorstr="#092e3b",GradientType=0);
  background-color: #092e3b;
}

* {
  box-sizing: border-box;
}

.span-2 {
  grid-row: span 2;
}

.structure {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  margin-top: 1em;
}

.drawbox, .chatbox, .rounds, .toolbox, .timer {
  background-color: white;
}

.player {
  padding: 2rem;
  background-color: var(--bg1);
}

.wordbox {
  display: flex;
  justify-content: center;
  justify-self: center;
}
.wordbox #jumbotron {
  width: 600px;
  height: 120px;
  background-color: #092e3b;
  border: 1px solid #adc5ce;
  border-radius: 8px;
  color: #2b98c0;
  grid-area: j;
  justify-self: center;
}
.wordbox #jumbotron span {
  padding-left: 5px;
  font-weight: 500;
  font-size: 30px;
}

.drawbox {

}

.chatbox {

}

.rounds {

}

.toolbox {

}

.timer {

}